$BROWN_50: rgb(239, 248, 251);
$BROWN_100: rgb(206, 233, 242);
$BROWN_200: rgb(182, 222, 236);
$BROWN_300: rgb(148, 207, 228);
$BROWN_400: rgb(128, 198, 222);
$BROWN_500: #60b8d6;
$BROWN_600: rgb(87, 167, 195);
$BROWN_700: rgb(68, 131, 152);
$BROWN_800: #17476D;
$BROWN_900: rgb(40, 77, 90);

$RED_50: rgb(239, 251, 246);
$RED_100: rgb(206, 242, 227);
$RED_200: rgb(182, 236, 214);
$RED_300: rgb(148, 228, 195);
$RED_400: rgb(128, 222, 184);
$RED_500: rgb(96, 214, 166);
$RED_600: #60b8d6;
$RED_700: rgb(68, 152, 118);
$RED_800: rgb(53, 118, 91);
$RED_900: rgb(40, 90, 70);

$BROWN_DARK_50: rgb(239, 244, 251);
$BROWN_DARK_100: rgb(231, 239, 249);
$BROWN_DARK_200: rgb(206, 222, 242);
$BROWN_DARK_300: rgb(96, 148, 214);
$BROWN_DARK_400: rgb(86, 133, 193);
$BROWN_DARK_500: rgb(77, 118, 171);
$BROWN_DARK_600: rgb(72, 111, 161);
$BROWN_DARK_700: rgb(58, 89, 128);
$BROWN_DARK_800: rgb(43, 67, 96);
$BROWN_DARK_900: rgb(34, 52, 75);
